.tableContainer {
  margin: 30px 0 30px 0;
  width: 400px;
  border-collapse: collapse;
}

.tableContainer th,
.tableContainer td {
  border: 2px solid black;
  text-align: center;
}

.tableContainer th {
  background-color: black;
  color: white;
}

.tableContainer tr:nth-child(2n + 2) {
  background-color: lightgrey;
}
